* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 207, 167);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    direction: rtl;
    text-align: right;
}

.nav {
    font-style: oblique;
}

#nav {
    background-color: rgb(51, 35, 1);
    height: 80px;
    color: rgb(226, 207, 167);
    padding: 30px;
    top: 0;
    width: 100%;
}














.footer {
    width: 100%;
    display: block;
    background-color: rgb(51, 35, 1);
    color: rgb(226, 207, 167);
    margin-top: 60%;
    flex: 1;
    text-align: center;
    padding: 30px;
    top: 20px;
    width: 100%;
}